__pycache__
.vscode
*.db
motion/capture
motion/video/videos
#ignore binary files
motion/video/image_video
motion/keep/keep_video
nginx-portable-master

*.log
serviceAccountKey.json
*.mp4
*.restore
/docker/api-data

/boot/data
/storage/images
/storage/videos