{{ define "dash" }}
{{ template "header" . }}

<body class="w3-light-grey">
  {{ template "side" .}}

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-dashboard"></i> Information </b></h5>
    </header>
    {{ template "alert" .}}
    <div class="w3-row-padding w3-margin-bottom">

      <button class="w3-button w3-green" onclick="selectToday()">Today</button> <br>
      Or
      <p>From: <input type="text" class="datepicker" id="from"> To: <input id="to" type="text" class="datepicker"></p>
      <button class="w3-button w3-green" onclick="selectOther()">Update</button>
      <div id="motionBox">
        <table id="motionTable">
          <tbody>
            <tr>
              <td>Camera</td>
              <td>Start</td>
              <td>Code</td>
              <td>Reason</td>
              <td>View</td>
              <td>Delete</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
          <p>
            <div id="videoBox">
              Video will display here.
            </div>
         
          </p>
        </div>

      </div>
    </div>

    <script>
      today = true;
      $(function () {
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' }).val();
      });

      function selectToday() {
        today = true
        setupTable()
      }

      function selectOther() {
        today = false
        setupTable()
      }

      function setupTable() {
        $("#motionTable tbody").remove();
        $("#motionTable").append(`<tbody>
            <tr>
              <td>Camera</td>
              <td>Start</td>
              <td>Code</td>
              <td>Reason</td>
              <td>View</td>
              <td>Delete</td>
            </tr>
          </tbody>`);
        setup()
      }

    </script>
    <script>
      inspe = ""

      function inspect(){
        location.href="/inspect/"+encodeURI(inspe)
      }

      function setup() {
        var jsonT;
        var xhttp = new XMLHttpRequest();
        xhttp.withCredentials = true;
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            jsont = JSON.parse(this.responseText)

            var tableRef = document.getElementById('motionTable').getElementsByTagName('tbody')[0];
            jsont.forEach(function (entry) {
              // Insert a row in the table at the last row
              var newRow = tableRef.insertRow();

              // Insert a cell in the row at index 0
              var newCell0 = newRow.insertCell(0);

              // Append a text node to the cell
              var newText = document.createTextNode(entry.Name);
              newCell0.appendChild(newText);

              var newCell = newRow.insertCell(1);
              var newCell2 = newRow.insertCell(2);
              var newCell3 = newRow.insertCell(3);
              var newCell4 = newRow.insertCell(4);
              var newCell5 = newRow.insertCell(5);

              // Append a text node to the cell
              var newText = document.createTextNode(entry.Code);
              newCell.appendChild(newText);

              var newText2 = document.createTextNode(entry.Time);
              newCell2.appendChild(newText2);

              var newText2 = document.createTextNode(entry.Reason);
              newCell3.appendChild(newText2);

              var a = document.createElement("button")
              a.innerHTML = "View"
              a.addEventListener("click", function () {
                document.getElementById("videoBox").innerHTML = "<video controls autoplay height='360'><source src='http://192.168.1.135:8000/s/motion/" + entry.Code + "'></video>"
                document.getElementById('id01').style.display = 'block'
                inspe = entry.Code
              });

              newCell4.appendChild(a)

              var b = document.createElement("button")
              b.innerHTML = "Delete"
              b.addEventListener("click", function () {
                deleteMotion(entry.Code)
              });

              newCell5.appendChild(b)

            });

          }
        };
        if (today) {
          xhttp.open("GET", "http://192.168.1.135:8000/s/motion", true);
        } else {
          url = "http://192.168.1.135:8000/s/motion?to=" + (document.getElementById("to").value).replace(/\//g, "-") + "&from=" + (document.getElementById("from").value).replace(/\//g, "-");
          xhttp.open("GET", encodeURI(url), true);
        }
        xhttp.send();
      }

      function deleteMotion(code) {
        var r = confirm("Are you sure?");
        if (r == true) {
          var xhttp = new XMLHttpRequest();
          xhttp.withCredentials = true;
          xhttp.onreadystatechange = function () {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
              setupTable()
            }
          }
          xhttp.open("DELETE", "http://192.168.1.135:8000/s/motion/" + code, true);
          xhttp.send();
        }

        
      }

      
    </script>

    <!-- End page content -->
  </div>
  {{ template "footer" . }}

</body>

</html>

{{ end }}
