{{ define "config" }}
{{ template "header" . }}

<body class="w3-light-grey">
  {{ template "side" . }}
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-dashboard"></i> Edit</b></h5>
    </header>
    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button" onclick="opens('cam')">Camera</button>
        <button class="w3-bar-item w3-button" onclick="opens('accounts')">Accounts</button>
        <button class="w3-bar-item w3-button" onclick="opens('notifications')">Notifications</button>
        <button class="w3-bar-item w3-button" onclick="opens('services')">Services</button>
        <button class="w3-bar-item w3-button" onclick="opens('records')">Recording</button>
      </div> 
      <p><b>No value must be empty. Leaving an empty value will cause the service to crash.</b></p>
      {{ template "camConf" .}}
      {{ template "userConf" .}}

      <div class="w3-panel w3-green w3-display-bottommiddle" id="noteBox">
        <p id="noteText"></p>
      </div>
   
    {{ template "footer" . }}

    <!-- End page content -->
  </div>

  <script>
  function opens(name) {
  var i;
  var x = document.getElementsByClassName("edit");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(name).style.display = "block";
}</script>

<script>
function showNote(text){
  var box = document.getElementById("noteBox");

var txt = document.getElementById("noteText");
  txt.innerHTML = text
  showNote()
  setTimeout(hideNote, 5000)
}

function showNote() {
        document.getElementById("noteBox").style.display = "block";
      }
      function hideNote() {
        document.getElementById("noteBox").style.display = "none";
      }
hideNote()
</script>

</body>

</html>
{{ end }}