{{ define "config" }}
{{ template "header" . }}
<body class="w3-light-grey">
{{ template "side" . }}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Edit</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
  
    <p>
      <label>Server address</label>
      <input class="w3-input" type="text" id="sa"></p>
      <p>
      <label>Server port</label>
      <input class="w3-input" type="number" id="sp"></p>
      <p>
        <label>Threshold</label>
        <i> eg [80,70]</i>
        <input class="w3-input" type="text" id="th"></p>
        <p>
          <label>Min count</label>
          <input class="w3-input" type="number" id="min"></p>
          <button class="w3-button w3-green">Save</button>
  </div>

 
<script>
temp = ""
function getSer(){
  var jsonT;
  var xhttp = new XMLHttpRequest();
  xhttp.withCredentials = true;
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      jsont =  JSON.parse(this.responseText)
      console.log(jsont)
      $("#sa").val(jsont["serverAddress"])
      $("#sp").val(jsont["serverPort"])
      $("#th").val(jsont["threshold"])
      $("#min").val(jsont["minCount"])
      //jsont.body = body = jsont.body.replace("/\n/g", "<br />");
      document.getElementById("editBox").innerHTML = jsont.Inner;
    }
  };
  xhttp.open("GET", "http://localhost:8000/s/config/config:motion", true);
  xhttp.send();

}

getSer()

function setSer(){
  data =  document.getElementById("editBox").innerHTML 
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("editBox").innerHTML = "Updated";
    }
  };
  xhttp.open("POST", "http://localhost:8000/config/"+encodeURI(document.getElementById("ser").value), true);
  xhttp.send(data);

}

  </script>
{{ template "footer" . }}

  <!-- End page content -->
</div>


</body>
</html>
{{ end }}