{{ define "config" }}
{{ template "header" . }}

<body class="w3-light-grey">
  {{ template "side" . }}
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-dashboard"></i> Edit</b></h5>
    </header>
    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button" onclick="opens('motion')">Motion</button>
        <button class="w3-bar-item w3-button" onclick="opens('cam')">Camera</button>
        <button class="w3-bar-item w3-button" onclick="opens('capture')">Caputre</button>
        <button class="w3-bar-item w3-button" onclick="opens('record')">Record</button>
      </div> 

      {{ template "motionConf" .}}
      {{ template "camConf" .}}

      <div class="w3-panel w3-green w3-display-bottommiddle" id="noteBox">
        <p id="noteText"></p>
      </div>
   
    {{ template "footer" . }}

    <!-- End page content -->
  </div>

  <script>
  function opens(name) {
  var i;
  var x = document.getElementsByClassName("edit");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(name).style.display = "block";
}</script>

<script>
function showNote(text){
  var box = document.getElementById("noteBox");

var txt = document.getElementById("noteText");
  txt.inner = text
  setTimeout(hideAlert, 5000)
}

function showAlert() {
        document.getElementById("noteBox").style.display = "block";
      }
      function hideAlert() {
        document.getElementById("noteBox").style.display = "none";
      }
hideAlert()
</script>

</body>

</html>
{{ end }}