{{ define "index" }}
{{ template "header" . }}

<body class="w3-light-grey">

  <!-- !PAGE CONTENT! -->
  <div class="w3-main">
    <div class="w3-content w3-center">
    <div class="w3-panel w3-red w3-display-container" id="error" style="display:none;">
      <span onclick="this.parentElement.style.display='none'"
        class="w3-button w3-large w3-display-topright">&times;</span>
      <h3>Login error!</h3>
      <p>Username or password is incorrect</p>
    </div>
    <form class="w3-container" id="loginform">
      <h1>Login to the door service</h1>
      <div class="w3-section">
        <label><b>Username</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname"
          id="user" required>
        <label><b>Password</b></label>
        <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" id="pass" required>
        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>

      </div>
    </form>
    </div>

    <script>
      $("#loginform").on("submit", function () {
        event.preventDefault();
        var dataJson = JSON.stringify({ "username": $("#user").val(), "password": $("#pass").val() })

        $.ajax("http://192.168.1.135:8000/login", {
          type: "POST",
          data: dataJson,
          xhrFields: {
            withCredentials: true
          },
          statusCode: {
            200: function (response) {
              location.reload();
            },
            401: function (response) {
              $("#error").show()

            }
          },
        });



      });
    </script>



    <!-- End page content -->
  </div>
  {{ template "footer" . }}

</body>

</html>

{{ end }}