{{ define "live" }}

{{ template "header" . }}

<body class="w3-light-grey">
  {{ template "side" . }}

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-dashboard"></i> Cameras</b></h5>
    </header>
    {{ template "alert" .}}
    <div class="w3-row-padding w3-margin-bottom">
      <form id="camForm">
        Camera name:
        <select id="camName">
          {{ range $i,$a := .Cam }}
            <option value="{{ $a }}">{{ $a }}</option>
          {{ end }}
        </select>
        <input class="w3-button w3-green" type="submit">
       
      </form>
      <input name="cname" id="cname">
      <button class="w3-button w3-green" onclick="save()">Save</button>


      <div id="imageArea">
       
      </div>
      <img id="videoI">
    </div>


    <script>
      function save(){
        name = $("#cname").val()
        $.post("http://192.168.1.135:8001/add/"+encodeURI(name),function (data){
          //location.reload();
          console.log("New cam!")
        });
      }
      function processForm(e) {
        if (e.preventDefault) e.preventDefault();

        /* do what you want with the form */


        var long = document.getElementById("imageArea");
        var urlParams = new URLSearchParams(window.location.search);
        // 2
        var socket = new WebSocket("ws://192.168.1.135:8000/s/stream/" + encodeURI(document.getElementById("camName").value))
        const img = document.getElementById('videoI');
        // 3
        var update = function () {

          // Log errors
          socket.onclose = function (error) {
            long.innerHTML = "Socket has been closed. Connection to camera has failed"
          };
        
          socket.onmessage = function (event) {
            decoded = atob(event.data)

            img.src = "data:image/jpg;base64, "+event.data
            //long.innerHTML = "<img src='data:image/jpg;base64, "+event.data+"' alt='image'>"


          }
        };
        window.setTimeout(update);


        // You must return false to prevent the default form behavior
        return false;
      }

      var form = document.getElementById('camForm');
      if (form.attachEvent) {
        form.attachEvent("submit", processForm);
      } else {
        form.addEventListener("submit", processForm);
      }





    </script>


    {{ template "footer" . }}

    <!-- End page content -->
  </div>


</body>

</html>

{{ end }}