{{ define "userConf" }}

<div class="w3-row-padding w3-margin-bottom edit" id="cam" style="display:none">

  <p>Get cams config</p>
  <select id="camName">
    {{ range $i,$a := .Cam }}
      <option value="{{ $a }}">{{ $a }}</option>
    {{ end }}
  </select>
  <button class="w3-button w3-green" onclick="getCam()">Get</button>
  <p>Or add a new camera</p>
  <input type="text" id="cname">
  <button class="w3-button w3-green" onclick="newCam()">Create</button>
  <form id="setCam">
      <label>Camera address</label>
      <input class="w3-input" type="text" name="serverPort" id="caddr"></p>
    <p>
      <label>FPS</label>
      <input class="w3-input" type="number" name="serverPort" id="cfps"></p>
    <p>
      <label>Live Rotate</label>
      <input class="w3-input" type="text" name="threshold" id="clrot"></p>
    <p>
      <label>Threshold</label>
      <button onclick="openThres()">Edit</button>
      <p>
        <label>Min count</label>
        <input class="w3-input" type="number" name="minCount" id="cmin"></p>

      <p>
        <p>
          <label>Motion blur</label>
          <input class="w3-input" type="text" name="threshold" id="cmblur"></p>

        <p>
          <label>Motion Rotate</label>
          <input class="w3-input" type="text" name="threshold" id="cmrot"></p>
        <h3>Helpful setup</h3>
        <p>
          <label>Blur amount</label>
          <input class="w3-input" type="number" name="minCount" id="hcblur"></p>

        <button class="w3-button w3-green" type="submit">Save</button>
  </form>

  <div id="tbox" style="display:none;">
    <p>Click twice to add a new location</p>
    <img id="camView">
    <table id="tvals">
      <thead>
        <tr>
          <td>X</td>
          <td>Y</td>
          <td>Threshold</td>
          <td>Area</td>
          <td>Min count</td>
          <td>Block name</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>

      </tbody>

    </table>
    <button onclick="saveThres()">Save Threshold changes</button>
  </div>

</div>



<script>
  firstClick = []
  function openThres() {
    $("#tbox").show()
    var tableRef = document.getElementById('tvals').getElementsByTagName('tbody')[0];
    // 2
    var socket = new WebSocket("ws://192.168.1.135:8000/s/stream/" + encodeURI($("#camName").val()))
    const img = document.getElementById('camView');
    // 3
    var update = function () {
      // Log errors
      socket.onclose = function (error) {
        long.innerHTML = "Socket has been closed. Connection to camera has failed"
      };
      socket.onmessage = function (event) {
        img.src = "data:image/jpg;base64, " + event.data
      }
    };
    window.setTimeout(update);

    //image now streams
    $('#camView').click(function (e) {
      var offset = $(this).offset();

      var X = (e.pageX - offset.left);
      var Y = (e.pageY - offset.top);
      if (firstClick.length == 0) {
        firstClick = [Math.round(X), Math.round(Y)]
      } else {

        // Insert a row in the table at the last row
        var newRow = tableRef.insertRow();

        // Insert a cell in the row at index 0
        var newCell0 = newRow.insertCell(0);
        var newCell1 = newRow.insertCell(1);
        var newCell2 = newRow.insertCell(2);
        var newCell3 = newRow.insertCell(3);
        var newCell4 = newRow.insertCell(4);
        var newCell5 = newRow.insertCell(5);
        var newCell6 = newRow.insertCell(6);

        var ni = document.createElement("input")
        ni.value =  firstClick[1] + "," + Math.round(Y) 
        newCell0.appendChild(ni)

        var ni = document.createElement("input")
      
        ni.value =    firstClick[0] + "," + Math.round(X)
        newCell1.appendChild(ni)

        var ni = document.createElement("input")
        newCell2.appendChild(ni)

        var ni = document.createElement("input")
        newCell3.appendChild(ni)

        var ni = document.createElement("input")
        newCell4.appendChild(ni)

        var ni = document.createElement("input")
        newCell5.appendChild(ni)

        var a = document.createElement("button")
        a.innerHTML = "Delete"
        a.addEventListener("click", function () {
          newRow.remove()
        });

        newCell6.appendChild(a)
        firstClick = []
      }


    });

  }

  function saveThres() {
    var tableRef = document.getElementById('tvals').getElementsByTagName('tbody')[0];
    var rows = tableRef.getElementsByTagName('tr');
    per = []
    for (i = 0; i < rows.length; i++) {
      temp = []
      cols = rows[i].getElementsByTagName("td")
      x = cols[0].getElementsByTagName("input")[0].value
      y = cols[1].getElementsByTagName("input")[0].value
      t = cols[2].getElementsByTagName("input")[0].value
      are = cols[3].getElementsByTagName("input")[0].value
      min = cols[4].getElementsByTagName("input")[0].value
      block = "`"+cols[5].getElementsByTagName("input")[0].value+"`"
      temp.push(x, y, t, are, min,block)
      console.log("Temp is "+temp)
      per.push(temp)
      console.log("Per after push is "+per)
    }

    var dataJson = JSON.stringify({
      "threshold": per
    })
    var xhttp = new XMLHttpRequest();
    xhttp.withCredentials = true;
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        showNote("Saved!")
      }
    };
    xhttp.open("POST", "http://192.168.1.135:8000/s/config/motion:camera:" + encodeURI(name), true);
    xhttp.send(dataJson);
    console.log(per)
  }



  function getCam() {
    $("#tbox").hide()
    name = $("#camName").val()
    var jsonT;
    var xhttp = new XMLHttpRequest();
    xhttp.withCredentials = true;
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        jsont = JSON.parse(this.responseText)
        console.log(jsont)
        $("#caddr").val(jsont["camAddress"])
        $("#cfps").val(jsont["fps"])
        $("#clrot").val(jsont["liveRotation"])
        $("#cmrot").val(jsont["motionRotation"])
        $("#hcblur").val(jsont["helpBlur"])
        $("#cmblur").val(jsont["motionBlur"])


        $("#cmin").val(jsont["minCount"])



        te = jsont["threshold"]
        te = jsont["threshold"].replace(/\`/g, "\"")
     
        console.log(te)
        tj = JSON.parse(te)
        var tableRef = document.getElementById('tvals').getElementsByTagName('tbody')[0];
        tj.forEach(element => {
          // Insert a row in the table at the last row
          var newRow = tableRef.insertRow();

          // Insert a cell in the row at index 0
          var newCell0 = newRow.insertCell(0);
          var newCell1 = newRow.insertCell(1);
          var newCell2 = newRow.insertCell(2);
          var newCell3 = newRow.insertCell(3);
          var newCell4 = newRow.insertCell(4);
          var newCell5 = newRow.insertCell(5);
          var newCell6 = newRow.insertCell(6);

          var ni = document.createElement("input")
          ni.value = element[0]+","+element[1]
          newCell0.appendChild(ni)

          var ni = document.createElement("input")
          ni.value = element[2]+","+element[3]
          newCell1.appendChild(ni)

          var ni = document.createElement("input")
          ni.value = element[4]
          newCell2.appendChild(ni)

          var ni = document.createElement("input")
          ni.value = element[5]
          newCell3.appendChild(ni)

          var ni = document.createElement("input")
          ni.value = element[6]
          newCell4.appendChild(ni)

          var ni = document.createElement("input")
          ni.value = element[7]
          newCell5.appendChild(ni)

          var a = document.createElement("button")
          a.innerHTML = "Delete"
          a.addEventListener("click", function () {
            newRow.remove()
          });

          newCell6.appendChild(a)
          firstClick = []
        

        });

    }
  };
  xhttp.open("GET", "http://192.168.1.135:8000/s/config/motion:camera:" + encodeURI(name), true);
  xhttp.send();
  }



  $("#setCam").on("submit", function () {
    event.preventDefault();
    var dataJson = JSON.stringify({
      "camAddress": $("#caddr").val(),
      "threshold": $("#cth").val(), "minCount": $("#cmin").val(), "fps": $("#cfps").val(),
      "liveRotation": $("#clrot").val(), "motionRotation": $("#cmrot").val(), "helpBlur": $("#hcblur").val(),
      "motionBlur": $("#cmblur").val()
    })
    var xhttp = new XMLHttpRequest();
    xhttp.withCredentials = true;
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        showNote("Saved!")
      }
    };
    xhttp.open("POST", "http://192.168.1.135:8000/s/config/motion:camera:" + encodeURI(name), true);
    xhttp.send(dataJson);

  });



  function newCam(){
        name = $("#cname").val()
        $.post("http://192.168.1.135:8001/add/"+encodeURI(name),function (data){
          location.reload();
        });
      }

</script>

{{ end }}