{{ define "notificationsConf" }}

<div class="w3-row-padding w3-margin-bottom edit" id="notifications" style="display:none">


  <form id="notificationsForm">
    <p>Get cams config</p>
    <select id="camName">
      {{ range $i,$a := .Cam }}
      <option value="{{ $a }}">{{ $a }}</option>
      {{ end }}
    </select>
    <button class="w3-button w3-green" onclick="getCam()">Get</button>

    <p>
      <label>Hour to start</label>
      <input class="w3-input" type="text" id="cuser"></p>
    <p>
      <label>Hour to end</label>
      <input class="w3-input" type="password" id="cpass"></p>

    <p>
      <label>X direction [LESS] or [GREATER] or [NONE]</label>
      <input class="w3-input" type="password" id="cpass"></p>

    <p>
      <label>Y direction [LESS] or [GREATER] or [NONE]</label>
      <input class="w3-input" type="password" id="cpass"></p>

    <p>
      <label>Delay between alerts</label>
      <input class="w3-input" type="password" id="cpass"></p>

      <p>
          <label>False count for an alert</label>
          <input class="w3-input" type="password" id="cpass"></p>

          <p>
              <label>True count for an alert</label>
              <input class="w3-input" type="password" id="cpass"></p>


  </form>



</div>



<script>


  $("#makeUser").on("submit", function () {
    event.preventDefault();
    var dataJson = JSON.stringify({
      "user": $("#cuser").val(), "password": $("#cpass").val()
    })
    var xhttp = new XMLHttpRequest();
    xhttp.withCredentials = true;
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        showNote("Saved!")
      } else if (this.status == 409) {
        alert("The username is already used")
      }
    };
    xhttp.open("POST", "http://192.168.1.135:8000/s/makeUser", true);
    xhttp.send(dataJson);

  });

</script>

{{ end }}