{{ define "header" }}
<!DOCTYPE html>
<html>
<title>{{ .Title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="/static/jquery-ui.css">
<link rel="stylesheet" href="/static/Raleway.css">
<!-- <link rel="stylesheet" href="static/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/jquery-ui.min.js"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<script>
    function doRefresh(){

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (xhttp.readyState == 4 && xhttp.status == 401) {
            {{ if (ne .Title "Login") }} 
            location.reload();
            {{ end }}
          }
        }
        xhttp.withCredentials = true;
        xhttp.open("GET", "http://192.168.1.135:8000/s/refresh", true);
        xhttp.send();
      
    }
window.setInterval(function(){
  doRefresh()
      
}, 15000);
doRefresh()
</script>


{{ end }}